.from_container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.title {
    max-width: 100%;
    color: #ffcc02;
    border-bottom: 1px solid #ffcc02;
   
}


.container_image {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;

}

.container_image_subtitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.rectangulo{
    width: 170px;
    height: 130px;
    background-color: #D7D7D7;
}

.container_icon_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_dos{
    display: flex;
    gap: 15px;
    align-items: center;
    

}

.trash {
    width: 45%;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.image {
    width: 100%;
    align-items: center;
    font-size: 18px;
}


.label_input {
    font-family: "Roboto", sans-serif;
    margin-left: 5px;
    font-size: 18px;
}

.input_nom {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border-style: solid;
    border: 1px solid;
    padding: 10px;
    font-size: 18px;
    outline: none;
   
}

.textarea {
    width: 100%;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid;
    padding: 15px;
    outline: none;
}

.tecnologias button {
    width: 100px;
    height: 30px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #92c149;
    background-color: #ffffff;
}

.tecnologias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.boton_envia_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.boton_envia {
    display: flex;
    width: 120px;
    height: 30px;
    background-color: #ffcc02;
    border-radius: 10px;
    color: #010101;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}

.boton_envia:hover {
    background-color: black;
    color: #ffcc02;
}

/* Medium (md) */
@media (min-width: 768px) {
    /* ... */
}

/* Large (lg) */
@media (min-width: 1028px) {
    .from_container {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .forms {
        width: 47%;
    }

    .title {
        width: 100%;
    }

  

    .container_image {
        width: 90%;
    }

    img {
        width: 500px;
        margin-bottom: 20px;
    }

    .boton_envia_container {
      
        margin-bottom: -40px;
    }

    .icon_dos{
        display: flex;
        font-size: 20px;
        gap: 30px;
        align-items: center;
       margin-right: -100px; 
    
    }
    
    .icon_mas{
        display: flex;
        font-size: 35px;
    }
    
}
