.questionMain {
    padding: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 1024px;
    border: 1px solid rgb(240, 240, 240);
    margin: auto;
  }
  
  .SearchContainer {
    text-align: center;
  }
  
  .SearchContainer > h2 {
    font-weight: bold;
  }
  
  .searchInput {
    width: 63%;
    max-width: 900px;
    margin: 1rem 0;
    padding: 0.5rem;
  }
  
  .btn-group > .btn:first-child {
    background-color: #ffc107;
    color: black;
    font-weight: bold;
  }
  
  .btnsContainer {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0 2.5rem 0;
  }
  
  .messagesContainer,
  .infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /*--------------Componente Pregunta----------------*/
  
  .questionContainerMain {
    border: 2.2px solid #ffc107;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .tagsContainer {
    margin: 1rem 0;
  }
  .tagsContainer > h6 {
    display: inline;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    padding: 0.3rem 0.7rem;
    margin-right: 0.7rem;
    font-size: 13px;
  }
  
  .nameDate {
    display: flex;
    justify-content: space-between;
    width: 195px;
  }
  
  .nameDate > p {
    margin-bottom: 0;
  }
  
  .btnResponse:hover {
    background-color: black;
    color: #ffc107;
  }
  
  @media (max-width: 455px) {
    .infoContainer {
      justify-content: center;
      margin: 1rem 0;
    }
  
    .btnResponse {
      margin-top: 1rem;
    }
  }