.form_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.forms{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px ;
}

label {
    font-family: "Roboto", sans-serif;
    /* margin: 0 0 20px 5px; */
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
}

.input_nom {
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 16px;
    outline: none;

}

.textarea {
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 16px;
    outline: none;

}

.tecnologias button {
    width: 100px;
    height: 30px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #92c149;
    background-color: #ffffff;
}
.tecnologias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Medium (md) */
@media (min-width: 768px) {
    /* ... */
}

/* Large (lg) */
@media (min-width: 1024px) {
    .form_container {
        width: 90%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .forms {
        width: 47%;
    }
}