.globalNav {
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
    left: 0;
    position: absolute;
    width: 100%;
    max-height: 7rem;
}

.globalNavContent {
    position: relative;
    width: 100%;
}
.navBar {
    left: 0;
    width: 100%;
}

.navBar ul {
    padding-inline-start: 0px;
}

.imgprincipal {
    left: 10px;
}

.navList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.navListItem {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navListItem svg {
    display: none;
}
/*
.navListItem input {
    background-image: url("../../assets/images/search-outline.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px 0px 5px 15px;
    width: 85%;
    border-radius: 50px;
    border: 2px solid rgba(155, 155, 155, 0.8);
}

.nav__list-item input:focus {
    border: 2px solid rgba(88, 88, 88, 0.08);
}
*/

.navListItem img {
    width: 70px;
    height: 70px;
}

.navListItem span {
    font-weight: 700;
    font-size: 1.2em;
}

@media (max-width: 745px) {
    .navListItem svg {
        display: inline;
    }
    .navListItem span {
        display: none;
    }

    .main {
        width: 100%;
    }
}

/* Small (sm) */
@media (max-width: 400px) {
    .navListItem img {
        width: 50px;
        height: 50px;
    }
}

/* Dropdown Logout styles  */
