.global-nav {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(0, 0, 0, 0.1);
  left: 0;
  position: absolute;
  width: 100%;
}

.global-nav__content {
  position: relative;
  width: 100%;
}
.nav {
  left: 0;
  width: 100%;
}
.nav ul{
  padding-inline-start: 0px;
}
.imgprincipal{
  left:10px;
}
.nav__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.nav__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__list-item svg{
  display: none;
}

.nav__list-item input{
  background-image: url('../../assets/images/search-outline.svg');
  background-repeat: no-repeat;
  background-position: right;
  padding: 5px 0px 5px 15px;
  width: 85%;
  border-radius: 50px;
  border: 2px solid rgba(155, 155, 155, 0.8);
}
.nav__list-item input:focus{
  border: 2px solid rgba(88, 88, 88, 0.08);
}
.nav__list-item img{
  width: 70px;
  height: 70px;
}
.nav__list-item span{
  font-weight: 700;
  font-size: 1.2em;
}



@media (max-width: 745px) {
  .nav__list-item svg{
    display: inline;
  }
  .nav__list-item span {
    display: none;
  }

  .main{
    width: 100%;
  }
}

/* Small (sm) */
@media (max-width: 400px) {
  .nav__list-item img{
    width: 50px;
    height: 50px;
  }
}

