
.notification{
    margin-bottom: 10px;
    border-bottom: 3px solid rgb(0, 0, 0, 0.1);
  }
  .notification ul{
    padding-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 4px;
    margin-block-end: 4px;
    list-style: none;
    display: flex;
    justify-content:start;
  }
  .notification ul li{
    padding-left: 10px;
  }
  .first{
    width: 10%;
    font-weight: bold;
  }
  .notification .fuzzy{
    color: rgb(87, 87, 87);
  }
  .notification .space{
    margin-left: 6%;
    margin-right: 6%;
    width: 50%;
  }
  .notification .fuzzy{
    color: rgb(87, 87, 87);
  }
  .small__space{
    display: flex;
    justify-content: end;
    margin-left: 6%;
    margin-right: 6%;
    width: 70%;
  }

  .main{
    --display: none;
    position: absolute;
    width: 50%;
    right: 0px;
    min-height: 85vh;
    border-color: rgb(0, 0, 0, 0.1);
    border-style: none none groove groove;
    transition: 0.7s;
  }
  .main.active{
    position: absolute;
    width: 50%;
    right: 0px;
    min-height: 85vh;
    background: rgb(206, 206, 206);
    transition: 0.7s;
  }
  .topbar{
      width: 100%;
      height: 100%;
      padding-left: 25px;
  }

  