.containBody {
    width: 100%;
    background-color: #d7d7d7;
    padding: 25px;
}

.containFilter {
    width: 47%;
    max-width: 540px;
    margin: 25px auto;
    background-color: #ffffff;
    border-radius: 15px;
}

.filter {
    width: 95%;
    user-select: none;
    margin: 10px auto;
    position: relative;
}
.filter input {
    padding: 15px 20px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    height: 35px;
    outline: none;
}
.filter i {
    position: absolute;
    right: 20px;
    width: 15px;
    top: 10px;
}
