@font-face {
    font-family: Gilroy-bold;
    src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
}
@font-face {
    font-family: Gilroy-light;
    src: url("../fonts/Gilroy-Light.otf") format("opentype");
}

p {
    font-family: Gilroy-bold;
}
